* {
    background-color: pink;
}

.container-idk {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    height: 100px;
    width: 200px;
    border-radius: 15px;
}